@import "tailwindcss";

@custom-variant hover (&:hover);

.duration-300 {
  animation-duration: 300ms;
}

.animate-slide-up {
  animation: slideUp 800ms ease forwards;
}

.animate-slide-down {
  opacity: 0;
  animation: slideDown 800ms ease 300ms forwards;
}

@keyframes slideUp {
  from {
    transform: translateY(5rem);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideDown {
  from {
    transform: translateY(-5rem);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
